extends ../layout

block content
  a.btn.btn-success(href='/bicicletas/create') Nueva Bicicleta
  br
  table.table
    thead
      tr
        td(scope='col') #
        td(scope='col') Color
        td(scope='col') Modelo
        td(scope='col') Ubicacion
        td(scope='col')
        td(scope='col')
    tbody
      each bici in bicis
        tr
          td= bici.code
          td= bici.color
          td= bici.modelo
          td= bici.ubicacion
          td
            a(href='/bicicletas/' + bici.code + '/update') Editar
          td
            form.inline(method='post' action='/bicicletas/' + bici.code + '/delete')
              input(type="hidden" name="code" value=bici.code)
              button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')= 'Eliminar'
  br
  a(href='/') Inicio              